@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.logo-comfortaa {
                font-family: "Comfortaa", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }